fastapi
requests
uvicorn
python-multipart
lightgbm
tqdm
gensim
pyvi
regex
asyncio
pandas
numpy
python-dotenv
pyforest
click
colorama
cycler
itsdangerous
Jinja2
joblib
kiwisolver
MarkupSafe
pyparsing
python-dateutil
pytz
scikit-learn
seaborn
six
threadpoolctl
Werkzeug
